<div class="main">
  <mat-toolbar color="primary">
    <mat-card-title>{{ title }}</mat-card-title>
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/new-item" routerLinkActive="active">New item</a>
  </mat-toolbar>
  <mat-card appearance="outlined">
    <router-outlet></router-outlet>
<!--    <mat-card-content>-->
<!--      <div *ngIf="state === 'default'" class="">-->
<!--        <button mat-fab (click)="toggleInputState()"><mat-icon>add</mat-icon></button>-->
<!--      </div>-->
<!--      <div *ngIf="state === 'addingTask'">-->
<!--        <mat-form-field>-->
<!--          <mat-label>Add item</mat-label>-->
<!--          <input matInput #newItem>-->
<!--        </mat-form-field>-->
<!--        <button mat-fab color="primary" (click)="acceptNewItem(newItem.value)"><mat-icon>check</mat-icon></button>-->
<!--        <button mat-fab color="warn" (click)="cancelNewItem()"><mat-icon>close</mat-icon></button>-->
<!--      </div>-->
<!--    </mat-card-content>-->

  </mat-card>
</div>
